backports.functools-lru-cache==1.5
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
dlib==19.16.0
imutils==0.5.2
kiwisolver==1.0.1
matplotlib==2.2.3
networkx==2.2
numpy==1.15.4
opencv-python==3.4.5.20
Pillow==5.4.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
scikit-image==0.14.1
scipy==1.2.0
six==1.12.0
subprocess32==3.5.3
toolz==0.9.0
